<%- include("../../partials/header") %> 

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Realizar Login</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate">
            <input type="email" name="email" placeholder="email@exemplo.com" class="form-control"><hr>
            <input type="password" name="password" placeholder="********" class="form-control"><br>
            <input type="submit" class="btn btn-success btn-block" value="Logar">
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer") %> 